.main-contacto {
  background-color: black !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  height: auto !important;
  margin: 0 !important;
  color: #b6ff1b !important;
}

.propForm {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
}

.bgContacto {
  background-image: url("/img/bgContacto.jpg");
  background-size: cover;
  background-position: center;
}

.custom-content {
  max-width: 1100px;
}

.contIzq img {
  width: 32rem;
}

.boton-contacto {
  color: #b6ff1b !important;
  background-color: #0f0f0f !important;
  font-family: "Urbanist", sans-serif !important;
  border: 1px solid #b6ff1b !important;
  border-radius: 1rem !important;
  font-weight: 500 !important;
  transition: 0.7s !important;
}

.boton-contacto:hover {
  background-color: #b6ff1b !important;
  color: #0f0f0f !important;
}

.cont-form .custom-form-control {
  color: #b6ff1b !important;
  border: 1px solid #b6ff1b;
  border-radius: 1000px;
  background-color: #0f0f0f;
  height: 3rem;
}

.cont-form .custom-form-control:focus {
  background-color: #0f0f0f;
  box-shadow: 0 0 5px #b6ff1b;
  border-color: #b6ff1b;
}

.cont-form .custom-form-textarea {
  color: #b6ff1b !important;
  border: 1px solid #b6ff1b;
  border-radius: 0.7rem;
  background-color: #0f0f0f;
}

.contForm .custom-form-textarea:focus {
  background-color: #0f0f0f;
  box-shadow: 0 0 5px #b6ff1b;
  border-color: #b6ff1b;
}

.customButton-label {
  font-size: 1.5rem;
  font-family: "Gruppo", sans-serif;
  font-weight: bold;
}
