.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color:#b6ff1b;
    padding: 20px;
}
.footer a {
    text-decoration: none; 
    color: #b6ff1b; 
  }
  
  .footer a:hover {
    text-decoration: underline; 
  }
  
.footer-column {
    flex: 1;
    padding: 0 10px;
}

.left-column {
    text-align: left;
}
  
.center-column {
    text-align: center;
}
  
.right-column {
    text-align: right;
}

.left-column a,
.center-column a,
.right-column a {
  display: block; /* Convertir los enlaces en bloques */
  margin-bottom: 10px; /* Agregar espacio entre enlaces */
}

.right-column a img {
  vertical-align: middle; /* Alinear verticalmente la imagen dentro del enlace */
  margin-left: 5px; /* Agregar un pequeño espacio entre el texto y la imagen */
}

.footer-text {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #b6ff1b;
}

.horizontal-line {
    border: none;
    border-top: 2px solid #b6ff1b; 
    margin: 10px 0; 
  }