.footer-custom {
  font-family: 'Urbanist', sans-serif;
}

.footer-custom a:hover {
  transition: 0.5s;
  color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color:#b6ff1b;
    padding: 20px;
}

.footer a {
    text-decoration: none; 
    color: #b6ff1b; 
  }
  
  .footer a:hover {
    text-decoration: underline; 
  }
  

.footer-text {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #b6ff1b;
}

.horizontal-line {
    border: none;
    border-top: 2px solid #b6ff1b; 
    margin: 10px 0; 
  }

.menu-izq a {
    color: #b6ff1b;
    text-decoration: none;
    line-height: 2rem;
}

.menu-der a {
  color: #b6ff1b;
  text-decoration: none;
  line-height: 2.7rem;
}

.borde-custom {
  border-top: 1px solid #b6ff1b;
  border-bottom: 1px solid #b6ff1b;
}

