:root {
    --color-background: #0f0f0f;
    --primary-letter: #b6ff1b;
    --green-opacity: rgba(182, 255, 27, 0.7);
    --secondary-letter: #324700;
  }

.cont-usuario {
    background-color: var(--color-background);
    border: 1px solid var(--primary-letter);
    border-radius: 2rem;
    padding: 2rem;
}

.boton-agregar {
    font-family: 'Gruppo', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--primary-letter);
    border: 1px solid var(--primary-letter);
    background-color: transparent;
    transition: 0.6s;
}

.cont-usuario button:hover {
    background-color: var(--primary-letter);
}

.gruppo-font {
    font-family: 'Gruppo', sans-serif;
    font-size: 1.2rem;
    color: #b6ff1b;
    padding-left: 20px;
}

.cont-usuario .custom-form-control {
    color: white;
    border: 1px solid #b6ff1b;
    border-radius: 1rem;
    background-color: #0f0f0f;
}

.placeholder-usuarios::placeholder {
    font-family: "Urbanist", sans-serif;
    color: #5a7f02 !important;
    font-size: 0.9rem;
    padding: 0 !important;
}