.navbar{
    background-color: #0f0f0f !important;
}

.navbar a,.offcanvas a{
    color: #b6ff1b !important;
    font-family: 'Gruppo', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.botonesNav{
    color: #b6ff1b;
    border: #b6ff1b solid 1px;
    font-family: 'Gruppo', sans-serif;
    font-size: 20px;
    border-radius: 12px;
    background-color: #0f0f0f;
}

.textoNav{
    font-family: 'Urbanist', sans-serif;
    color: white;
    font-weight: bold;
    border-left: #b6ff1b 2px solid;
}

.offcanvas{
    background-color: #0f0f0f;
}