:root {
    --color-background: #0f0f0f;
    --primary-letter: #b6ff1b;
    --green-opacity: rgba(182, 255, 27, 0.7);
    --secondary-letter: #324700;
  }

.cont-sinreserva {
    max-width: 900px;
}

.img-size img {
    height: 8rem;
}

.cont-sinreserva h3 {
    font-weight: bold;
    color: var(--primary-letter);
    font-family: 'Gruppo', sans-serif;
}

.cont-sinreserva p {
    color: var(--primary-letter);
    font-family: 'Urbanist', sans-serif;
}

.cont-sinreserva span {
    color: white;
    font-weight: bold;
    font-family: 'Urbanist', sans-serif;
}

.borde-mensaje {
    border: 1px solid var(--primary-letter);
    border-radius: 1rem;
}