.bg-pagina-principal {
  background-image: url("/img/fondoRegistro.jpg");
  background-size: cover ;
  background-repeat: no-repeat ;
  background-attachment: fixed ;
  background-position: center ;
  height: auto ;
  margin: 0 ;
  color: #b6ff1b;
}

.bg-pagina-principal {
  color: #b6ff1b;
}

.titulo-form {
  color: #b6ff1b;
  font-family: 'Gruppo', sans-serif;
  font-weight: bold;
}

.logoFulbo img {
  width: 15rem;
}

.volverAtras a {
  text-decoration: none;
  color: #b6ff1b;
}

.volverAtras img  {
  width: 1.2rem;
}

.borderCont {
  border: 1.8px solid #b6ff1b;
  border-radius: 2.5rem;
}

.custom-container {
  max-width: 1000px;
}

.placeholder-registro::placeholder {
  font-family: "Urbanist", sans-serif;
  color: #5a7f02 !important;
  font-size: 0.9rem;
  padding: 0 !important;
}

.titulo_registro {
  font-family: "Gruppo", sans-serif;
  color: #b6ff1b;
}

.subtitulos_registro {
  font-family: "Urbanist", sans-serif;
  color: #5a7f02;
}

.contDer {
  background-image: url(/img/ImagenRegistro.jpg);
  background-size: cover;
}

.contIqz .custom-form-control {
  border: 1px solid #b6ff1b;
  border-radius: 1000px;
  background-color: #0f0f0f;
}

.contIqz .custom-bg-dark {
  background-color: transparent !important;
  color: white;
}

.gruppoFont {
  color: #b6ff1b;
  font-family: "Gruppo", sans-serif;
  padding-left: 20px;
}

.boton-enviar-registro {
  color: #0f0f0f ;
  background: #b6ff1b;
  font-family: "Gruppo", sans-serif;
  font-weight: bolder;
  border: 1px solid #b6ff1b;
  border-radius: 1rem ;
  font-weight: bold ;
  transition: 0.7s ;
}

.boton-enviar-registro:hover {
  color: #b6ff1b ;
  background: #0f0f0f;
  border: 1px solid #b6ff1b;
}

.enviar-text {
  font-weight: bold;
}