.bg-pagina-principal {
  background-image: url("/img/fondoRegistro.jpg");
  background-size: cover ;
  background-repeat: no-repeat ;
  background-attachment: fixed ;
  background-position: center ;
  height: auto ;
  margin: 0 ;
  color: #b6ff1b;
}

.bg-pagina-principal {
  color: #b6ff1b;
}

.bordeBoton button {
  color: #b6ff1b ;
  font-family: "Gruppo", sans-serif;
  border: 1px solid #b6ff1b;
  border-radius: 1rem ;
  font-weight: bold ;
  transition: 0.7s ;
}

.bordeBoton button:hover {
  background-color: #b6ff1b ;
  color: #0f0f0f;
}

.titulo-form h4 {
  color: #b6ff1b;
  font-family: 'Gruppo', sans-serif;
  font-weight: bold;
}

.logoFulbo img {
  width: 15rem;
}

.volverAtras a {
  text-decoration: none;
  color: #b6ff1b;
}

.volverAtras img  {
  width: 1.2rem;
}

.borderCont {
  border: 1.8px solid #b6ff1b;
  border-radius: 3.5rem;
}

.custom-container {
  max-width: 900px;
}

/* #container-registro {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32em;
  width: 51em;
  border-radius: 4em;
  border: 3px solid #324700;
  margin-top: 5em;
} */

/* .imgRegistro {
  height: 32em;
  width: auto;
  border-radius: 4em;
} */

/* #form-registro {
  width: 20em;
  padding: auto;
} */

/* #nombre,
#apellido,
#email,
#password,
#confirmPassword {
  color: #b6ff1b;
  background-color: #0f0f0f;
  border-radius: 3em;
  width: 24em;
  height: 2, 5em;
  border: 1px solid #b6ff1b;
  outline: none;
  padding: 0.5em 1em;
} */

/* #botonLog {
  color: #324700;
  background-color: #0f0f0f;
  border-radius: 1em;
  border: 1px solid #b6ff1b;
  outline: none;
  padding: 2rem;
} */

::placeholder {
  font-family: "Urbanist", sans-serif;
  color: #5a7f02 !important;
  font-size: 0.9rem;
  padding: 0 !important;
}

.titulo_registro {
  font-family: "Gruppo", sans-serif;
  color: #b6ff1b;
}

.subtitulos_registro {
  font-family: "Urbanist", sans-serif;
  color: #5a7f02;
}

.contDer {
  background-image: url(/img/fulboRegistro.jpg);
  background-size: cover;
}

.contIqz .custom-form-control {
  border: 1px solid #b6ff1b;
  border-radius: 1000px;
  background-color: #0f0f0f;
}

.contIqz .custom-bg-dark {
  background-color: transparent !important;
  color: white;
}

.gruppoFont {
  color: #b6ff1b;
  font-family: "Gruppo", sans-serif;
  padding-left: 20px;
}